Django==1.4
South==0.7.5
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.10
celery==3.0.1
celery-with-redis==3.0
cssmin==0.1.4
django-appconf==0.5
django-celery==3.0.1
django-compressor==1.1.2
django-debug-toolbar==0.9.4
django-discover-runner==0.2
django-social-auth==0.7.0
gunicorn==0.14.5
httplib2==0.7.4
hurl==1.0
ipython==0.13
jsmin==2.0.2
kombu==2.2.6
oauth2==1.5.211
psycopg2==2.4.5
python-dateutil==1.5
python-openid==2.2.5
pytz==2012c
redis==2.6.0
wsgiref==0.1.2
